{% extends 'blog/base.html' %}
{% load static %}

{% block header %}
<header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Martin Krebs</h1>
                    <hr class="small">
                    <span class="subheading">Coding Projects and Tips</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="post-preview">
    <a href="{{ post.get_absolute_url }}">
        <h2 class="post-title">{{ post.title }}</h2>
    </a>
    <h4 class="post-subtitle" style="font-style: italic">{{ post.summary }}</h4>
    <p class="post-meta">Posted by {{ post.author }} {{ post.publish }}</p>
</div>
<hr>
{% endfor %}
{% endblock %}
